.wrapper {
	width: 86%;
	padding: 0 3%;
	margin: 30px auto 0;
	overflow: hidden;
}

.circleSep .circleRight, .circleSep .circleLeft{
	display: none;	
}

.filterNav{
	margin-bottom: 10px;
}
.filterNav p {
	float: none;
	display: block;
	line-height: 30px;
}
aside.filterNav ul {
	float: none;
	padding-bottom: 5px;
	padding-left: 0px;
}
.socialBlog p{
	float: none;
	}
.post .socialBlog div{
	margin: 0px;
}
img.floatLeft{
	float: none;
	display: block;
}
.blogFooter .button {
	margin: 9px 0px 5px;
}
.twoCol #sidebar.floatLeft{
	border-right: none;
}
/*Navigation*/
.menu{
	display: none;
	visibility: hidden;
}
.mnav{
	display: block;
	visibility: visible;
}

#bannerNormal {
	background: url(../img/banner-bg.jpg) no-repeat left top;
	height: 260px;
	margin-bottom: 77px;
}

#bannerNormal img{
	width: 536px !important;
	max-height: 175px !important;
	position: absolute;
	right: 0px;		
}

#bannerNormal .ei-title{
	padding-left: 10px;
}

#bannerNormal .ei-title h2{
	font-size: 25px;	
}

#bannerNormal .ei-title p{
	margin-bottom: 0px;	
	font-size: 13px;
}

#bannerNormal .ei-title .emboss_button, #bannerNormal .ei-title .emboss_button:visited {
	color: #fff;
	font-family: PTSans;
	font-size: 12px;
	border-radius: 5px;
	padding: 4px 7px;
	margin-top: 5px;
}


/*button*/
.call_out .button_round {
	float: left;
}

/*Promo Box*/
.promo_box p {
	width: 100%;
	float: none;
	font-size: 28px;
	line-height: 1.4;
}

.promo_box .button_round {
	margin: 0 0 45px 0;
	float: left;
	font-size: 20px;
	padding: 5px 21px;
	height: 30px;
	line-height: 30px;
}

/* Common split boxes (Float Boxes) Styles */

.columns .content {
	padding-left: 0px;
}
#services .content{
	text-align: center;	
}

#services .one_third{
	width: 100%;	
}

/* Small Product Image (eg: small Images in Services section)*/
.columns .small_product_image {
	float: none;
	margin: 0 auto;
}

.mainServices .frame_round, .productsList .frame_round,.mainServices .frame_round img, .productsList .frame_round img  {
	width: 150px;
	height: 150px;
}


/*from the Blog */
.columns.fromTheBlog .content {
	padding-left: 0px;
	text-align: left;
}
.fromTheBlog .date {
	margin: -18px 12px 0px;
}

/* call-Out Box */
.call_out .content {
	width: 100%;
	float: left;
}

/*copyRight Section */
#copyrightText {
	width: 86%;
}

/*sub Pages*/
.subBanner .searchCon {
	width: 180px;
	float: right;
	position: absolute;
	right: 15px;
	top: 50px;
}

.subBanner .searchCon .textField{
	width: 130px;	
}

.widget .searchForm{
	width: 300px;
	margin: 20px auto 10px;
	padding-left: 15px;	
}

/*about Pages */

.staff .content {
	float: none;
	padding: 5px 0px 25px 0px;
	width: 100%;
	border-bottom: 2px solid #f2f2f2;
	clear:none;	
}

.staff .content h3{
	clear:none;	
}

.staffImg {
	margin-right: 10px;
	margin-bottom: 0px;
}

.staffImg a.twitter, .staffImg a.facebook, .staffImg a.linkedIn{
	margin-bottom: 0px;
}

/*Two Cloumn Styles */
.twoCol #mainContent {
	width: 100%;
	float: left;
}
.twoCol #mainContent.floatRight {
	float: right;
}

.twoCol #sidebar {
	width: 100%;
	padding-left: 0;
	border-left: none;
	margin-bottom: 20px;
}

.widget .textField {
	margin-bottom: 20px;
	width: 75%;
}

.metaData p span {
	margin-top: 10px;
}

/*contact*/

.contact div .two_third {
	width: 89%;
	border-right: none;
}



.contact.enquire .textArea{
	width: 88%;	
}

.contact .textField{
	width: 88%	
}

/*services*/

.columns.servicesList .one_third{
	text-align:center;	
}

/*Page footer*/
#pageFooter .one_fourth{
	width: 47%;
	padding-right:1%;	
}

#pageFooter .one_fourth:nth-child(even){
	clear: left;	
}

.columns .two_third, .columns .two_third.last {
	width: 100%;
	border: none;
}

/*override*/

.wrapper  .two_third, .wrapper  .two_third.last, .wrapper  .one_third, .wrapper  .one_third.last {
	width: 100%;
	border: none;
}

#copyrightText p{
	width: 100%;
	text-align:center;
	float:none;	
}

#copyrightText p.floatRight{
		float:none;	
		width:53%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
}

.recentTweet h3{
	margin-top: 25px;	
}

.wrapper .columns.beInTouch .two_third{
	width: 95%;	
}

.productsList .one_fourth {
	border: none;
	padding-right: 0px;
	width: 48%;
}

#back-top{
	display: none;
	visibility: hidden;	
}