.wrapper {
	width: 86%;
	padding: 0 3%;
	margin: 30px auto 0;
}

.circleSep .circleRight, .circleSep .circleLeft{
	display: none;	
}
.filterNav{
	margin-bottom: 10px;
}
.filterNav p {
	float: none;
	display: block;
	line-height: 30px;
}
aside.filterNav ul {
	float: none;
	padding-bottom: 5px;
	padding-left: 0px;
}
.socialBlog p{
	float: none;
	}
.post .socialBlog div{
	margin: 0px;
}
img.floatLeft{
	float: none;
	display: block;
}
.blogFooter .button {
	margin: 9px 0px 5px;
}
/*Navigation*/
.menu{
	display: none;
	visibility: hidden;
}
.mnav{
	display: block;
	visibility: visible;
}

#logoCon{
	float:none;
	margin-left: auto;	
	margin-right: auto;
}	

nav#menu{
	margin-top:10px;
	float: none;
	margin: 10px auto;
	width: 218px;	
}

/*banner*/

#bannerNormal {
	height: 220px;
}

#bannerNormal img{
	width: 365px !important;
	max-height: 119px !important;
	position: absolute;
	right: 0px;		
}

#bannerNormal .ei-title h2{
	font-size: 25px;	
}

#bannerNormal .ei-title p{
	margin-bottom: 0px;	
	font-size: 13px;
}

#bannerNormal .ei-title .emboss_button, #bannerNormal .ei-title .emboss_button:visited {
	color: #fff;
	font-family: PTSans;
	font-size: 12px;
	border-radius: 5px;
	padding: 4px 7px;
	margin-top: 5px;
}
/*Sub Page*/

.subBanner .searchCon {
	display: none;
}

.subBanner .bannerCon{
	text-align: center;	
	float: none;
	width: 88%;
}

/*button*/
.call_out .button_round {
	float: left;
}

/*Promo Box*/
.promo_box p {
	width: 100%;
	font-size: 24px;
	line-height: 1.2;
}

.promo_box .button_round {
	margin: 0 0 45px 0;
	float: left;
	font-size: 20px;
	padding: 5px 21px;
	height: 30px;
	line-height: 30px;
}

/* Common split boxes (Float Boxes) Styles */

.columns .content {
	padding-left: 0px;
}
#services .content{
	text-align: center;	
}

#services .one_third, .fromTheBlog .one_third, .one_third, .one_half, .two_third, .one_fourth{
	width: 100%;
	float: none;	
}
/* Small Product Image (eg: small Images in Services section)*/
.columns .small_product_image {
	float: none;
	margin: 0 auto;
}

.mainServices .frame_round, .productsList .frame_round,.mainServices .frame_round img, .productsList .frame_round img  {
	width: 150px;
	height: 150px;
}


/*from the Blog */
.columns .small_product_image {
	float: none;
	margin: 0 auto;
}

.mainServices .frame_round, .productsList .frame_round,.mainServices .frame_round img, .productsList .frame_round img  {
	width: 150px;
	height: 150px;
}


/*from the Blog */
.columns.fromTheBlog .content {
	padding-left: 0px;
	text-align: left;
}
.fromTheBlog .date {
	margin: -18px 12px 0px;
}

/* call-Out Box */
.call_out .content {
	width: 100%;
	float: left;
}

.fromTheBlog .date {
	margin: -18px 12px 0px;
}

/* call-Out Box */
.call_out .content {
	width: 100%;
	float: left;
}

.call_out h2{
	font-size: 32px;	
}

/*copyRight Section */
#copyrightText {
	width: 86%;
}

/*about Pages */

.staff .content {
	float: none;
	padding: 5px 0px 25px 0px;
	width: 100%;
	border-bottom: 2px solid #f2f2f2;
	clear:none;	
}

.staff .content h3{
	clear:none;	
}

.staffImg {
	margin-right: 10px;
	margin-bottom: 0px;
}

.staffImg a.twitter, .staffImg a.facebook, .staffImg a.linkedIn{
	margin-bottom: 0px;
}

/*Two Cloumn Styles */
.twoCol #mainContent {
	width: 100%;
	float: left;
}
.twoCol #mainContent.floatRight {
	float: right;
}

.twoCol #sidebar {
	width: 100%;
	padding-left: 0;
	border-left: none;
	margin-bottom: 20px;
	clear: both;
	padding-top: 30px;
}

.widget .textField {
	margin-bottom: 20px;
	width: 75%;
}

.metaData p span {
	margin-top: 10px;
}

/*contact*/

.contact div .two_third {
	width: 89%;
	border-right: none;
}

.contact.enquire div .two_third {
	width: 65%;
	border-right: 1px solid #f2f2f2;
}

.contact.enquire .textArea{
	width: 88%;	
}

.map iframe {
	width: 260px !important;
}



/*services*/

.columns.servicesList .one_third{
	text-align:center;	
}

/*Page footer*/
#pageFooter .one_fourth{
	width: 100%;	
}


/*override*/

.wrapper #mainContainter .two_third, .wrapper #mainContainter  .two_third.last, .wrapper #mainContainter  .one_third, .wrapper #mainContainter  .one_third.last, .two_third {
	width: 100%;
	border: none;
}
.contact.enquire .textArea{
	width: 88%;	
}

#mainContent.contact.enquire .columns .two_third{
	width: 98%;	
	border-right: none;
}

.contact .textField{
	width: 88%	
}

#copyrightText p.floatLeft{
	font-size: 13px;	
}

#copyrightText p.floatRight{
		float:none;	
		width:80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		line-height: 3.2;
}

.recentTweet h3{
	margin-top: 25px;	
}

.wrapper .columns.beInTouch .two_third{
	width: 95%;	
}

.productsList .one_fourth {
	border: none;
	padding-right: 0px;
	width: 100%;
}
#back-top{
	display: none;
	visibility: hidden;	
}